.header_botton{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: rgb(211, 203, 218);
    align-items: center;;
    margin-top: 10px;
    align-items: center;
    position: absolute;
    left: -80px;
    right: -8px;

}

.header_botton_left,
.header_botton_right{
    display: flex;
    width: 450px;
    height: 85px;
    justify-content: center;
    transition: width 0.5s;

}

.header_botton_left:hover,
.header_botton_right:hover{
    width: 460px;
}

.header_botton_center{
    backdrop-filter: blur(5px);
    height: 85px;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    
}


.header_botton_left_text{
    line-height: 10px;
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}
.name,
.creator,
.email,
.education{
    transition: opacity 0.5s,
                text-decoration 0.5s;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
}

.name:hover,
.email:hover,
.AARHUSTECH:hover{
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.7;
}

.header_botton_center_text{
    font-size: 15px;
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
    width: 700px;
    transition: opacity 0.5s,
                line-height 0.5s,
                width 0.5s;
}

.header_botton_center_text:hover{
    cursor: pointer;
    line-height: 18px;
    opacity: 0.7;
    width: 750px;
}

@media(max-width:1600px){

    .header_botton_left{
        margin-left: 100px;
        width: 900px;
    }

    
    .header_botton_center_text{
        padding-left: 20px;
        padding-right: 20px;
    }
}