.header{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80px;
    background-color: rgb(186, 179, 192);
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;

    
}

.header_left{
    display: flex;
    width: 300px;
    height: 45px;
    justify-content: center;
    margin-left: 10px;
}

.python_icon{
    width: 45px;
    height: 45px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.python_icon:hover{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.html_icon{
    width: 45px;
    height: 45px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.html_icon:hover{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.css_icon{
    width: 45px;
    height: 45px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.css_icon:hover{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.java_script{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.java_script:hover{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.header_center{
    display: flex;
    flex: 1;
    height: 55px;
    background-color:lightblue;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 22px;
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    transition: opacity 0.5s,
                margin-left 0.5s,
                margin-right 0.5s;
    
}

.header_center:hover{
    opacity: 0.9;
    cursor: pointer;
    margin-left: 253px;
    margin-right: 253px;
}


.home{
    margin-left: 150px;
    transition: opacity 0.5s,
                padding-left 0.5s,
                padding-right 0.5s;
}

.home:hover{
    cursor: pointer;
    opacity: 0.6;
    padding-left: 3px;
    padding-right: 3px;
}

.projects{
    transition: opacity 0.5s,
                padding-left 0.5s,
                padding-right 0.5s;
}

.projects:hover{
    cursor: pointer;
    opacity: 0.6;
    padding-left: 3px;
    padding-right: 3px;
}

.projects_link{
    text-decoration: none;
    color: black;
}

.about{
    transition: opacity 0.5s,
                padding-left 0.5s,
                padding-right 0.5s;
}

.about:hover{
    cursor: pointer;
    opacity: 0.6;
    padding-left: 3px;
    padding-right: 3px;
}

.contact{
    margin-right: 150px;
    transition: opacity 0.5s,
                padding-left 0.5s,
                padding-right 0.5s;
}

.contact:hover{
    cursor: pointer;
    opacity: 0.6;
    padding-left: 3px;
    padding-right: 3px;
}

.contact_link{
    color: black;
    text-decoration: none;
}


.header_right{
    display: flex;
    width: 300px;
    height: 44px;
    justify-content: space-between;
    margin-right: 10px;
}

.instagram_icon{
    padding-left: 30px;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.instagram_icon:hover{
    cursor: pointer;
    opacity: 0.7;
    width: 43px;
    height: 43px;
}

.gitbub_icon{
    width: 45px;
    height: 45px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.gitbub_icon:hover{
    cursor: pointer;
    opacity: 0.7;
    width: 48px;
    height: 48px;
}

.tiktok_icon{
    width: 45px;
    height: 45px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.tiktok_icon:hover{
    cursor: pointer;
    opacity: 0.7;
    width: 48px;
    height: 48px;
}


.linkedin_icon{
    margin-right: 30px;
    width: 45px;
    height: 45px;
    transition: opacity 0.5s,
                width 0.5s,
                height 0.5s;
}

.linkedin_icon:hover{
    cursor: pointer;
    opacity: 0.7;
    width: 48px;
    height: 48px;
}

@media(max-width:1600px){
    .header_left{
        margin-left: 20px;
    }

    .header_center{
        margin-left: 100px;
        margin-right: 100px;
    }
    .header_center:hover{
        opacity: 0.9;
        cursor: pointer;
        margin-left: 108px;
        margin-right: 108px;
    }

    .home{
        padding-right:10px ;
        padding-left: 5px;
    }

    .home:hover{
        cursor: pointer;
        opacity: 0.6;
        padding-right: 13px;
    }
    
    .projects,
    .about,
    .contact{
        padding-right: 10px;
        padding-left: 10px;
    }

    .header_right{
        width: 210px;
        margin-right: 40px;
    }

    .instagram_icon{
        padding-right: 5px;
    }

    .gitbub_icon,
    .tiktok_icon,
    .linkedin_icon{
        padding-left: 2px;
    }

}